*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(231, 226, 226);
    width: 100%;
    height: 100vh;
}
marquee{
    width:30px;
    background-color: red;
    color: white;
    font-family: Segoe UI;
}
main{
    text-align: center; 
}
main h1{
    margin: 1em 0;
    color: purple;
    text-align: center;
}
main button{
    font-size: 1.2em;
    padding: 0.7em;
    margin: 1.5em;
    border-radius: 0.7em;
    background: blue;
}
main button a{
    text-decoration: none;
    color: white;
   
}
main button:hover{
    background: green;
}
footer{
    position: fixed;
    bottom: 0;
    left: 45%;
    letter-spacing: 0.2em;
    font-size: 2em;
    text-align: center;
}
.fa-whatsapp{
    background-color: green;
    color: white;
    padding: 0.1em 0 0.1em 0.2em;
    border-radius: 0.2em;
}
.fa-instagram{
    background-color: purple;
    color: white;
    padding: 0.1em 0 0.1em 0.2em;
    border-radius: 0.2em;
}
.fa-facebook{
    background-color: #1752c9;
    color: white;
    padding: 0.1em 0 0.1em 0.2em;
    border-radius: 0.2em;
}

@media (min-width:310px) and (max-width:768px){
    footer{
        position: fixed;
        bottom: 0;
        left: 30%;
    }
}

